    // responsiveness

    /* Smartphones (portrait and landscape) ----------- */
html.transition,
html.transition *,
html.transition *:before,
html.transition *:after{
    transition: all, 800ms !important;
    transition: 0 !important;
};



    @media (min-width : 320px) and (max-width : 480px) {
        /* Styles */
        html[data-theme = "dark"]{
            body{
                background: url(../Light/source/BackgroundImage/DarkThemeMobo.png);;
                background-size: cover;
            }
        }
        body{
            font-size: 16px;
            margin: 0px !important;
            width: 100vw !important;
            height: 100%;
            padding: 0px;
            background: url(../Light/source/BackgroundImage/LightThemeMobo.png);;
            background-size: cover;
        }
        .navbar{
            display: none;
        }
        .about{
            top: 20px;
            box-sizing: border-box !important;
            text-align: center;
            width: 100vw !important;
            padding: 0px;
            margin: 0px !important;
            position: relative;

            h1{
                font-size: 30px !important;
                margin-bottom: 40px !important;
                margin-top: 40px !important;
                color: var(--heading-color);
            }
            h2{
                display: block !important;
                font-size: 20px !important;
                opacity: 0.3;
                font-family: "Roboto" , sans-serif;
                font-weight: lighter;
                margin-bottom: 30px !important;
                color: var(--heading-color);
            }
            p{
                text-align: center;
                font-size: 15px;
                line-height: 22px !important;
                font-family:  sans-serif;
                color: var(--mobo-text);
                font-weight: lighter;
            }
    };
        .container{
            margin: 0px;
        }
        .contact{
            margin-top: 40px !important;
            color: var(--heading-color);
            img{
                height: 25px !important;
                width: 25px !important;
                
            }
        }
        .typeText{
            display: none;
        }
        .toggle-button{
            margin-bottom: 20px;
        }
        .bg-Image{
            display: none;
            img{
                display: none;
            }
        }
        .mobo-v{
            display: block !important;
            text-align: center;
            justify-content: center;
            align-items: center;
            margin: 0px !important;
            ul{
                list-style: none;
                padding: 0px !important; 
                margin: 0px !important;
                display: block;
                .text{
                    margin-top: 40px !important;
                    color: var(--heading-color)
                }
                li{
                    margin-top: 20px;
                    margin-bottom: 10px;
                    // cursor: pointer;
                    button{
                        background-color: var(--mobo-btn-bg);
                        border-radius: 30px;
                        height: 45px;
                        width: 150px;
                        color: #333;
                        font-family: "Roboto" , sans-serif;
                        font-weight: lighter;
                        font-size: 18px;
                        vertical-align: middle;
                        text-align: center;
                        border: none;
                        cursor: pointer !important;
                        
                        // padding: 10px;
                    }
                        // border-radius: 30px; 
                        img{
                            height: 25px;
                            width: 25px;
                            float: right;
                    }
                }
                button:hover{
                    background-color: #ebebeb;
                    color: #333;
                    transition: 0.3s ease-out;
                }
            }
        }
    };

        /* iPads (portrait and landscape)  + Desktop----------- */
    @media (min-width : 768px) and (max-width : 1224px) {
    //     /* Styles */
    html[data-theme = "dark"]{
        body{
            background: url(../Light/source/BackgroundImage/DarkThemeTablet.png);;
            background-size: cover;
            background-repeat: no-repeat; 
        }
    }
    body{
        background: url(../Light/source/BackgroundImage/LightThemeTablet.png);
        background-size: cover;
        background-repeat: no-repeat;
    }
        .bg-Image{
            display: none;
            img{
                display: none;
            }
        }
        .about{
            top: 40px;
            box-sizing: border-box !important;
            text-align: center;
            width: 100vw !important;
            padding: 0px;
            margin: 0px !important;
            position: relative;
            h1{
                font-size: 40px !important;
                margin-bottom: 40px !important;
                margin-top: 40px !important;
                color: var(--heading-color);
            }
            h2{
                display: block !important;
                font-size: 30px !important;
                opacity: 0.3;
                font-family: "Roboto" , sans-serif;
                font-weight: lighter;
                margin-bottom: 30px !important;
                color: var(--heading-color);
            }
            p{
                text-align: center;
                font-size: 18px;
                line-height: 25px !important;
                font-family:  sans-serif;
                color: var(--mobo-text);
                font-weight: lighter;
            }
        }
        .navbar{
            display: none;
        };
        .mobo-v{
            display: block !important;
            text-align: center;
            justify-content: center;
            align-items: center;
            margin: 0px !important;
            ul{
                list-style: none;
                padding: 0px !important; 
                margin: 0px !important;
                display: block;
                .text{
                    margin-top: 40px !important;
                    color: var(--heading-color);
                    font-size: 25px;
                }
                li{
                    margin-top: 20px;
                    margin-bottom: 10px;
                    // cursor: pointer;
                    button{
                        background-color: var(--mobo-btn-bg);
                        border-radius: 30px;
                        height: 45px;
                        width: 150px;
                        color: #333;
                        font-family: "Roboto" , sans-serif;
                        font-weight: lighter;
                        font-size: 18px;
                        vertical-align: middle;
                        text-align: center;
                        border: none;
                        cursor: pointer !important;
                    }
                        img{
                            height: 25px;
                            width: 25px;
                            float: right;
                    }
                }
                button:hover{
                    background-color: #ebebeb;
                    color: #333;
                    transition: 0.3s ease-out;
                }
            }
        }
        .typeText{
            display: none;
        }
    }

    //     /* Large screens ----------- */
    @media only screen  and (min-width : 1824px) {
        /* Styles */
        .about{
            margin-top: 5rem !important;
            h1{
                font-size: 100px !important;
                margin-bottom: 40px !important;
                margin-top: 40px !important;
                color: var(--heading-color);
            }
            p{
                font-size: 35px;
                line-height: 3.5rem !important;
                font-family:  sans-serif;
                color: var(--mobo-text);
                font-weight: lighter;
            }
        }
        .contact{
            margin-top: 3rem !important;
            color: var(--heading-color);
            li{
                cursor: pointer;
                margin-left: 40px !important;
            }
            li:nth-child(1){
                margin-left: 0px !important; 
            }
            h3{
                font-size: 50px !important;
                margin-bottom: 2rem !important;
            }
            img{
                height: 60px !important;
                width: 60px !important;
            }
        }
        .typeText{
        position: relative;
        bottom: 0px;
        width: 100%;
        z-index: 30;
        h3{
            font-family: "Roboto", sans-serif;
            font-size: 2.5rem;
            opacity: 0.3;;
            text-align: center;
            
    }
    }
    input[type=checkbox]{
        height: 0;
        width: 0;
        visibility: hidden;
        vertical-align: middle;
        // overflow: hidden;
    }

    label {
        cursor: pointer;
        text-indent: -9999px;
        width: 120px;
        height: 60px;
        background: grey;
        display: block;
        border-radius: 100px;
        position: relative;
        // overflow: hidden;
    }

    label:after {
        content: '';
        position: absolute;
        top: 5px;
        left: 5px;
        width: 50px;
        height: 50px;
        background: #d3d3d3;
        border-radius: 90px;
        transition: 0.3s;
        // overflow: hidden;
    }

    input:checked + label {
        background: #171717;
    }

    input:checked + label:after {
        left: calc(100% - 5px);
        transform: translateX(-100%);
    }

    label:active:after {
        width: 50px;
        // overflow: hidden;
    }
    .text-button{
        box-sizing: border-box;
        margin-top: 40px !important;
        font-size: 30px;
    }
    .navbar{
        ul{
            li{
                display: inline-block;
                padding: 30px;
                margin: 20px;
                box-sizing: border-box;
                button{
                    width: 180px !important;
                    height: 70px !important;
                    border: 5px solid var(--border-color) !important;
                    border-radius: 5px; 
                    font-size: 2rem !important;
                    font-weight: lighter;
                    padding: 20px;
                    cursor: pointer;
                }
            }
        }
    }
    .break{
        display: block;
        line-height: 1px;
    }

    }
    /* Smartphones (portrait and landscape) ----------- */

    @media (min-width : 320px) and (max-width : 480px) {
        /* Styles */
        html[data-theme = "dark"]{
            body{
                background: url(../Light/source/BackgroundImage/DarkThemeMobo.png);
                background-size: cover;
            }
        }
        body{
            font-size: 16px;
            margin: 0px !important;
            width: 100vw !important;
            height: 100%;
            padding: 0px;
            background: url(../Light/source/BackgroundImage/LightThemeMobo.png);;
            background-size: cover;
        }
        .navbar{
            display: none;
        }
        .about{
            top: 20px;
            box-sizing: border-box !important;
            text-align: center;
            width: 100vw !important;
            padding: 0px;
            margin: 0px !important;
            position: relative;

            h1{
                font-size: 30px !important;
                margin-bottom: 40px !important;
                margin-top: 40px !important;
                color: var(--heading-color);
            }
            h2{
                display: block !important;
                font-size: 20px !important;
                opacity: 0.3;
                font-family: "Roboto" , sans-serif;
                font-weight: lighter;
                margin-bottom: 30px !important;
                color: var(--heading-color);
            }
            p{
                text-align: center;
                font-size: 15px;
                line-height: 22px !important;
                font-family:  sans-serif;
                color: var(--mobo-text);
                font-weight: lighter;
            }
    };
        .container{
            margin: 0px;
        }
        .contact{
            margin-top: 40px !important;
            color: var(--heading-color);
            img{
                height: 25px !important;
                width: 25px !important;
                
            }
        }
        .typeText{
            display: none;
        }
        .toggle-button{
            margin-bottom: 20px;
        }
        .bg-Image{
            display: none;
            img{
                display: none;
            }
        }
        .mobo-v{
            display: block !important;
            text-align: center;
            justify-content: center;
            align-items: center;
            margin: 0px !important;
            ul{
                list-style: none;
                padding: 0px !important; 
                margin: 0px !important;
                display: block;
                .text{
                    margin-top: 40px !important;
                    color: var(--heading-color)
                }
                li{
                    margin-top: 20px;
                    margin-bottom: 10px;
                    button{
                        background-color: var(--mobo-btn-bg);
                        border-radius: 30px;
                        height: 45px;
                        width: 150px;
                        color: #333;
                        font-family: "Roboto" , sans-serif;
                        font-weight: lighter;
                        font-size: 18px;
                        vertical-align: middle;
                        text-align: center;
                        border: none;
                        cursor: pointer !important;
                    }
                        img{
                            height: 25px;
                            width: 25px;
                            float: right;
                    }
                }
                button:hover{
                    background-color: #ebebeb;
                    color: #333;
                    transition: 0.3s ease-out;
                }
            }
        }
    };

        /* iPads (portrait and landscape)  + Desktop----------- */
    @media (min-width : 768px) and (max-width : 1224px) {
    //     /* Styles */
    html[data-theme = "dark"]{
        body{
            background: url(../Light/source/BackgroundImage/DarkThemeTablet.png);;
            background-size: cover;
            background-repeat: no-repeat;
        }
    }
    body{
        background: url(../Light/source/BackgroundImage/LightThemeTablet.png);;
        background-size: cover;
        background-repeat: no-repeat;
    }
        .bg-Image{
            display: none;
            img{
                display: none;
            }
        }
        .about{
            top: 40px;
            box-sizing: border-box !important;
            text-align: center;
            width: 100vw !important;
            padding: 0px;
            margin: 0px !important;
            position: relative;
            h1{
                font-size: 40px !important;
                margin-bottom: 40px !important;
                margin-top: 40px !important;
                color: var(--heading-color);
            }
            h2{
                display: block !important;
                font-size: 30px !important;
                opacity: 0.3;
                font-family: "Roboto" , sans-serif;
                font-weight: lighter;
                margin-bottom: 30px !important;
                color: var(--heading-color);
            }
            p{
                text-align: center;
                font-size: 18px;
                line-height: 25px !important;
                font-family:  sans-serif;
                color: var(--mobo-text);
                font-weight: lighter;
            }
        }
        .navbar{
            display: none;
        };
        .mobo-v{
            display: block !important;
            text-align: center;
            justify-content: center;
            align-items: center;
            margin: 0px !important;
            ul{
                list-style: none;
                padding: 0px !important; 
                margin: 0px !important;
                display: block;
                .text{
                    margin-top: 40px !important;
                    color: var(--heading-color);
                    font-size: 25px;
                }
                li{
                    margin-top: 20px;
                    margin-bottom: 10px;
                    // cursor: pointer;
                    button{
                        background-color: var(--mobo-btn-bg);
                        border-radius: 30px;
                        height: 45px;
                        width: 150px;
                        color: #333;
                        font-family: "Roboto" , sans-serif;
                        font-weight: lighter;
                        font-size: 18px;
                        vertical-align: middle;
                        text-align: center;
                        border: none;
                        cursor: pointer !important;
                    }
                        img{
                            height: 25px;
                            width: 25px;
                            float: right;
                    }
                }
                button:hover{
                    background-color: #ebebeb;
                    color: #333;
                    transition: 0.3s ease-out;
                }
            }
        }
        .typeText{
            display: none;
        }
    }

    //     /* Large screens ----------- */
    @media only screen  and (min-width : 1824px) {
        /* Styles */
        .about{
            margin-top: 5rem !important;
            h1{
                font-size: 100px !important;
                margin-bottom: 40px !important;
                margin-top: 40px !important;
                color: var(--heading-color);
            }
            p{
                font-size: 35px;
                line-height: 3.5rem !important;
                font-family:  sans-serif;
                color: var(--mobo-text);
                font-weight: lighter;
            }
        }
        .contact{
            margin-top: 3rem !important;
            color: var(--heading-color);
            li{
                cursor: pointer;
                margin-left: 40px !important;
            }
            li:nth-child(1){
                margin-left: 0px !important; 
            }
            h3{
                font-size: 50px !important;
                margin-bottom: 2rem !important;
            }
            img{
                height: 60px !important;
                width: 60px !important;
            }
        }
        .typeText{
        position: relative;
        bottom: 0px;
        width: 100%;
        z-index: 30;
        h3{
            font-family: "Roboto", sans-serif;
            font-size: 2.5rem;
            opacity: 0.3;;
            text-align: center;
            
    }
    }
    input[type=checkbox]{
        height: 0;
        width: 0;
        visibility: hidden;
        vertical-align: middle;
        // overflow: hidden;
    }

    label {
        cursor: pointer;
        text-indent: -9999px;
        width: 120px;
        height: 60px;
        background: grey;
        display: block;
        border-radius: 100px;
        position: relative;
        // overflow: hidden;
    }

    label:after {
        content: '';
        position: absolute;
        top: 5px;
        left: 5px;
        width: 50px;
        height: 50px;
        background: #d3d3d3;
        border-radius: 90px;
        transition: 0.3s;
        // overflow: hidden;
    }

    input:checked + label {
        background: #171717;
    }

    input:checked + label:after {
        left: calc(100% - 5px);
        transform: translateX(-100%);
    }

    label:active:after {
        width: 50px;
        // overflow: hidden;
    }
    .text-button{
        box-sizing: border-box;
        margin-top: 40px !important;
        font-size: 30px;
    }
    .navbar{
        ul{
            li{
                display: inline-block;
                padding: 30px;
                margin: 20px;
                box-sizing: border-box;
                button{
                    width: 180px !important;
                    height: 70px !important;
                    border: 5px solid var(--border-color) !important;
                    border-radius: 5px; 
                    font-size: 2rem !important;
                    font-weight: lighter;
                    padding: 20px;
                    cursor: pointer;
                }
            }
        }
    }
    .break{
        display: block;
        line-height: 1px;
    }
}
